@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Tajawal:wght@300;400;500;700;900&display=swap");

html,
body {
  text-align: center;
  font-family: "Poppins";
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  margin: 0;
}
